.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white; 
}

h1 {
  margin-bottom: 20px;
  color: black;
}

textarea {
  width: 80%;
  height: 80%;
  padding: 10px;
  font-size: 16px;
  background-color: black;
  color: white;            
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
